<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

  <context:annotation-config/>
  <context:component-scan base-package="edu.mu.mscs.ubicomp.ema"/>

  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/views/"/>
    <property name="suffix" value=".jsp"/>
  </bean>

  <bean id="mailClient" class="edu.mu.mscs.ubicomp.ema.client.MailClient">
    <property name="properties" ref="mailConfigurations"/>
    <property name="host" value="${mailClientConfig.host}"/>
    <property name="username" value="${mailClientConfig.username}"/>
    <property name="password" value="${mailClientConfig.password}"/>
    <property name="from" value="${mailClientConfig.from}"/>
  </bean>

  <bean class="edu.mu.mscs.ubicomp.ema.service.ReminderService" id="reminderService">
    <property name="message1" ref="message1"/>
    <property name="message2" ref="message2"/>
    <property name="email1" ref="email1"/>
    <property name="email2" ref="email2"/>
    <property name="subject1" value="${reminderServiceConfig.subject1}"/>
    <property name="subject2" value="${reminderServiceConfig.subject2}"/>
    <property name="firstNotificationDifference" value="${reminderServiceConfig.firstNotificationDifference}"/>
    <property name="secondNotificationDifference" value="${reminderServiceConfig.secondNotificationDifference}"/>
    <property name="thirdNotificationDifference" value="${reminderServiceConfig.thirdNotificationDifference}"/>
    <property name="fourthNotificationDifference" value="${reminderServiceConfig.fourthNotificationDifference}"/>
    <property name="inactiveWarningDate" value="${reminderServiceConfig.inactiveWarningDate}"/>
    <property name="warningEmailAddress" value="${reminderServiceConfig.warningEmailAddress}"/>
    <property name="warningEmailSubject" value="${reminderServiceConfig.warningEmailSubject}"/>
    <property name="inactiveEmailTemplate" ref="warningEmailTemplate"/>
    <property name="chooseGroupDifference" value="${reminderServiceConfig.chooseGroupDifference}"/>
    <property name="chooseGroupSubject" value="${reminderServiceConfig.chooseGroupSubject}"/>
    <property name="chooseGroupEmail" ref="chooseGroupEmail"/>
    <property name="studyEndDifference" value="${reminderServiceConfig.studyEndDifference}"/>
    <property name="studyEndSubject" value="${reminderServiceConfig.studyEndSubject}"/>
    <property name="studyEndEmail" ref="studyEndEmail"/>
    <property name="textMessageClient" ref="clickATellClient"/>
    <property name="mailClient" ref="mailClient"/>
    <property name="messageRepository" ref="messageRepository"/>
    <property name="userRepository" ref="userRepository"/>
    <property name="baseUrl" value="${application.baseUrl}"/>
    <property name="totalThread" value="${reminderServiceConfig.totalThread}"/>
  </bean>

  <bean id="notificationGeneratorService" class="edu.mu.mscs.ubicomp.ema.service.NotificationGeneratorService">
    <property name="notificationRepository" ref="notificationRepository"/>
    <property name="scheduleRepository" ref="scheduleRepository"/>
  </bean>

  <bean class="edu.mu.mscs.ubicomp.ema.service.NotificationSenderService" id="notificationSenderService">
    <property name="totalThread" value="${notificationSender.totalThread}"/>
    <property name="notificationRepository" ref="notificationRepository"/>
    <property name="userRepository" ref="userRepository"/>
    <property name="client" ref="clickATellClient"/>
    <property name="messages">
      <util:list>
        <ref bean="notification1"/>
        <ref bean="notification2"/>
        <ref bean="notification3"/>
      </util:list>
    </property>
  </bean>

  <bean class="edu.mu.mscs.ubicomp.ema.service.SurveyReminderScheduler" id="surveyReminderScheduler">
    <property name="warningEmailAddress" value="${surveyReminderSchedulerService.warningEmailAddress}"/>
    <property name="warmingEmailSubject" value="${surveyReminderSchedulerService.warningEmailSubject}"/>
    <property name="warningEmailTemplate" ref="surveyReminderWarningEmail"/>
    <property name="reminderSubject" value="${surveyReminderSchedulerService.reminderSubject}"/>
    <property name="surveyInactiveDay" value="${surveyReminderSchedulerService.surveyInactiveDay}"/>
    <property name="firstSurveyDay" value="${surveyReminderSchedulerService.firstSurveyDay}"/>
    <property name="secondSurveyDay" value="${surveyReminderSchedulerService.secondSurveyDay}"/>
    <property name="thirdSurveyDay" value="${surveyReminderSchedulerService.thirdSurveyDay}"/>
    <property name="fourthSurveyDay" value="${surveyReminderSchedulerService.fourthSurveyDay}"/>
    <property name="mail3" ref="mail3"/>
    <property name="mail6" ref="mail6"/>
    <property name="mail9" ref="mail9"/>
    <property name="mail12" ref="mail12"/>
    <property name="mailClient" ref="mailClient"/>
    <property name="totalThread" value="${surveyReminderSchedulerService.totalThread}"/>
    <property name="userRepository" ref="userRepository"/>
  </bean>

  <bean class="edu.mu.mscs.ubicomp.ema.service.GiftCardNotifier" id="giftCardNotifier">
    <property name="answerRepository" ref="answerRepository"/>
    <property name="scheduleRepository" ref="scheduleRepository"/>
    <property name="userRepository" ref="userRepository"/>
    <property name="amazonURI" value="${giftCardNotifierService.amazonURI}"/>
    <property name="totalThread" value="${giftCardNotifierService.totalThread}"/>
  </bean>

  <!-- schedulers -->
  <task:scheduler id="scheduler" pool-size="10"/>
  <task:scheduled-tasks scheduler="scheduler">
    <task:scheduled ref="reminderService" method="sendNotifications" cron="${reminderService.schedule}"/>
    <task:scheduled ref="notificationSenderService" method="send" cron="${notificationSender.schedule}"/>
    <task:scheduled ref="notificationGeneratorService" method="generate" cron="${notificationGeneratorService.schedule}"/>
    <task:scheduled ref="surveyReminderScheduler" method="sendReminder" cron="${surveyReminderSchedulerService.schedule}"/>
    <task:scheduled ref="giftCardNotifier" method="sendGiftCard" cron="${giftCardNotifierService.schedule}"/>
  </task:scheduled-tasks>

  <!-- JPA -->
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${datasource.driverClassName}"/>
    <property name="url" value="${datasource.url}"/>
    <property name="username" value="${datasource.username}"/>
    <property name="password" value="${datasource.password}"/>
  </bean>

  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="persistenceUnitName" value="emaPersistenceUnit"/>
    <property name="dataSource" ref="dataSource"/>
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="${hibernate.showSql}"/>
        <property name="database" value="MYSQL"/>
      </bean>
    </property>
  </bean>
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
  <tx:annotation-driven/>

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="file:${user.home}/ema/config/ema.properties"/>
  </bean>
  <util:properties id="mailConfigurations" location="file:${user.home}/ema/config/mail.properties"/>
  <bean id="notification1" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/notification1.txt" type="java.io.InputStream" />
  </bean>
  <bean id="notification2" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/notification2.txt" type="java.io.InputStream" />
  </bean>
  <bean id="notification3" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/notification3.txt" type="java.io.InputStream" />
  </bean>
  <bean id="message1" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/message1.txt" type="java.io.InputStream" />
  </bean>
  <bean id="message2" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/message2.txt" type="java.io.InputStream" />
  </bean>
  <bean id="email1" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/email1.txt" type="java.io.InputStream" />
  </bean>
  <bean id="email2" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/email2.txt" type="java.io.InputStream" />
  </bean>
  <bean id="warningEmailTemplate" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/warningEmail.txt" type="java.io.InputStream" />
  </bean>
  <bean id="mail3" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/mail3.txt" type="java.io.InputStream" />
  </bean>
  <bean id="mail6" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/mail6.txt" type="java.io.InputStream" />
  </bean>
  <bean id="mail9" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/mail9.txt" type="java.io.InputStream" />
  </bean>
  <bean id="mail12" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/mail12.txt" type="java.io.InputStream" />
  </bean>
  <bean id="chooseGroupEmail" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/chooseGroup.txt" type="java.io.InputStream" />
  </bean>
  <bean id="studyEndEmail" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/studyEnd.txt" type="java.io.InputStream" />
  </bean>
  <bean id="surveyReminderWarningEmail" class="org.apache.commons.io.IOUtils" factory-method="toString">
    <constructor-arg value="file:${user.home}/ema/config/surveyReminderWarning.txt" type="java.io.InputStream" />
  </bean>
</beans>
